@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.link-slider {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.link-slider::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;

  bottom: 0;
  left: 0;
  background-color: #014e7a;
  transform-origin: left center;
  transition: width 0.3s ease;
}

.link-slider:hover::before {
  width: 100%;
}